* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body , html {
    height: 100%;
}

.personagem {
     display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 100%;
}

#pensativo {
    
    transition: transform 6s; /* suaviza transformações gerais */
    cursor: pointer;
}
@keyframes chacoalhar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}
.chacoalhar {
    animation: chacoalhar 0.1s ease-in-out infinite;
}

/* Balançar (Alegre) */
@keyframes balancar {
     0%   { transform: translateX(0); }
    25%  { transform: translateX(15px); }
    50%  { transform: translateX(-15px); }
    75%  { transform: translateX(15px); }
    100% { transform: translateX(0); }
}
.balancar {
    animation: balancar 0.5s ease-in-out infinite;
}
