*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.botao {
    color: white;
    background-color:green;
    margin: 20px;
    padding: 18px;
    border: none;
}

.botao:hover{
    background-color: red;
}
