* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main div {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.texto {
    padding: 30px;
}

.listas {
    font-size: 40px;
}
.listas ul li a {
    text-decoration: none;
    color: rgb(14, 4, 157);
    padding: 5px;
}